<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUelgYhYQK40-LbsSX-166SiY-l0CX5gY</string>
	<key>GCM_SENDER_ID</key>
	<string>318644769882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jp.junco.Moviles.RideShareV2</string>
	<key>PROJECT_ID</key>
	<string>mobiles-shareride</string>
	<key>STORAGE_BUCKET</key>
	<string>mobiles-shareride.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318644769882:ios:5f5371df183a3a79a1f463</string>
	<key>DATABASE_URL</key>
	<string>https://mobiles-shareride-default-rtdb.firebaseio.com</string>
</dict>
</plist>